html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

/* Base styles */
.title-container {
    position: relative;
    text-align: left;
    width: 100vw; /* Full width */
    height: 200px; 
    padding-top: 20%; /* This padding-top percentage controls the height relative to the width */
    margin-bottom: -20px;
    background-position: top center;
    background: url('./backgrounds/backgroundShape.png') no-repeat center center;
    background-size: cover;
    z-index: 1;
    overflow: hidden; /* This will ensure no part of the background overflows */
}

h2 {
    position: absolute;
    padding-left: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; /* Ensure the title is above the background shape */
    width: 100%; /* Ensures the text can be centered in the title container */
    margin: 0; /* Resets any default margin */
    color: white; /* Text color */
    font-size: 3rem; /* Adjust the size as needed */
    font-weight: bold; /* Make the text bold */
}

#chat-container {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;    /* Centers vertically if you have a specific height */
    height: 100%;           /* Optional: adjust the height as needed */
    background-color: #567788; /* Adding background color */
}

.chat-iframe {
    width: 90%; /* Adjust the percentage as needed */
    height: 400px; /* Adjust the fixed height as needed */
    border: none; /* Optional: Removes the border */
}

/* Media query for extra small devices (phones) */
@media only screen and (max-width: 350px) {
    .chat-iframe {
        width: 100%; /* Full width on smaller devices */
        height: 300px; /* Smaller height on smaller devices */
    }
}

/* Media query for small devices (portrait tablets and large phones) */
@media only screen and (min-width: 351px) and (max-width: 900px) {
    .title-container {
        height: 250px; /* Slightly larger height for larger devices */
    }
    .chat-iframe {
        width: 100%; /* Full width on smaller devices */
        height: 400px; /* Smaller height on smaller devices */
    }
}

/* Media query for medium devices (landscape tablets) */
@media only screen and (min-width: 901px) and (max-width: 1200px) {
    .title-container {
        height: 350px; /* Larger height for desktop screens */
    }
    .chat-iframe {
        width: 100%; /* Full width on smaller devices */
        height: 500px; /* Smaller height on smaller devices */
    }
}

/* Media query for large devices (desktops) */
@media only screen and (min-width: 1201px) {
    .title-container {
        height: 400px; /* Even larger height for big screens */
    }
    .chat-iframe {
        width: 100%; /* Full width on smaller devices */
        height: 600px; /* Smaller height on smaller devices */
    }
}